@import '_reset.scss';

h2{
  font-family: var(Charlevoix);
  font-weight: lighter;
  margin-top: 0px;

}

a{
  font-family: var(CharlevoixPro-Light);
  color: black;
  font-weight: lighter;

}

.body{
  margin: 0px;
}

.grid-container{
display: grid;
margin-top: 20px;
margin-left: 20px;
grid-template-columns: 350px 350px 350px 350px;
}

.grid1{
margin-top: 0px;

}

.grid2{
font-size: 8px;


}

.grid3{
font-size: 8px;
}

.grid4{
margin-left: 100px;
margin-right: 50px;
line-height: 15px;
font-size: 12px;
}
