@import '_reset.scss';

$var: white;

.header{

  h2{
    font-family: var(Charlevoix);
    font-weight: lighter;
    margin-top: 0px;
  
  }
  
  a{
    font-family: var(CharlevoixPro-Light);
    color: black;
    font-weight: lighter;
  
  }
  
  .body{
    margin: 0px;
  }
  
  .grid-container{
  display: grid;
  margin-top: 20px;
  margin-left: 20px;
  grid-template-columns: 350px 350px 350px 350px;
  }
  
  .grid1{
  margin-top: 0px;
  
  }
  
  .grid2{
  font-size: 8px;
  
  
  }
  
  .grid3{
  font-size: 8px;
  }
  
  .grid4{
  margin-left: 100px;
  margin-right: 50px;
  line-height: 15px;
  font-size: 12px;
  }
  
}


.content{
  .content-grid{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 350px 800px
  }
  
  .content1{
    font-size: 12px;
  
  
  }
  .content2{
    font-size: 8px;
    margin-top:10px;
  
  
  }
  
  img{
    margin-left: 20px;
    margin-top: 200px;
    margin-bottom: 20px;
  }
}

.footer{
  margin-left: 20px;
  margin-top: 500px;
}
