@import '_reset.scss';


@font-face{
  font-family: 'Eiko';
  src: url(../fonts/ppeiko-thin.ttf);
}

#fuente-personalizada{
  font-family: 'Eiko';
}



.header{

  h2{
    font-family: var(CharlevoixPro-Light);
    font-weight: lighter;
    margin-top: 0px;
  
  }
  
  a{
    font-family: var(CharlevoixPro-Light);
    color: black;
    font-weight: lighter;
  
  }
  
  .body{
    margin: 0px;

    h2{
      font-family: var(CharlevoixPro-Light);
      font-weight: lighter;
      margin-top: 0px;
    
    }
    
    a{
      font-family: var(CharlevoixPro-Light);
      color: black;
      font-weight: lighter;
    
    }
  }
  
  .grid-container{
  display: grid;
  margin-top: 20px;
  margin-left: 20px;
  grid-template-columns: 350px 350px 350px 350px;

  h2{
    font-family: var(CharlevoixPro-Light);
    font-weight: lighter;
    margin-top: 0px;
  
  }
  
  a{
    font-family: var(CharlevoixPro-Light);
    color: black;
    font-weight: lighter;
  
  }
  }
  
  .grid1{
  margin-top: 0px;

  h2{
    font-family: var(CharlevoixPro-Light);
    font-weight: lighter;
    margin-top: 0px;
  
  }
  
  a{
    font-family: var(CharlevoixPro-Light);
    color: black;
    font-weight: lighter;
  
  }
  
  }
  
  .grid2{
  font-size: 8px;

  h2{
    font-family: var(CharlevoixPro-Light);
    font-weight: lighter;
    margin-top: 0px;
  
  }
  
  a{
    font-family: var(CharlevoixPro-Light);
    color: black;
    font-weight: lighter;
  
  }
  
  
  }
  
  .grid3{
  font-size: 8px;

  h2{
    font-family: var(CharlevoixPro-Light);
    font-weight: lighter;
    margin-top: 0px;
  
  }
  
  a{
    font-family: var(CharlevoixPro-Light);
    color: black;
    font-weight: lighter;
  
  }

  }
  
  .grid4{
  margin-left: 100px;
  margin-right: 50px;
  line-height: 15px;
  font-size: 12px;

  h2{
    font-family: var(CharlevoixPro-Light);
    font-weight: lighter;
    margin-top: 0px;
  
  }
  
  a{
    font-family: var(CharlevoixPro-Light);
    color: black;
    font-weight: lighter;
  
  }

  }
  
}


.content{

  h2{
    font-family: var(Charlevoix);
    font-weight: lighter;
    margin-top: 0px;
  
  }
  
  a{
    font-family: var(CharlevoixPro-Light);
    color: black;
    font-weight: lighter;
  
  }


  .content-grid{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 350px 800px
  }
  
  .content1{
    font-size: 12px;
  
  
  }
  .content2{
    font-size: 8px;
    margin-top:10px;
  
  
  }
  
  img{
    margin-left: 20px;
    margin-top: 200px;
    margin-bottom: 20px;
  }
}

.footer{

  h2{
    font-family: var(Charlevoix);
    font-weight: lighter;
    margin-top: 0px;
  
  }
  
  a{
    font-family: var(CharlevoixPro-Light);
    color: black;
    font-weight: lighter;
  
  }


  margin-left: 20px;
  margin-top: 500px;
}
