---
layout: layouts/base.njk
title: (xè)

---
<div id="fuente-personalizada">

	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<div class="header">

		<div class="grid-container">

			<div class="grid1">
				<h2>xènia marquès dalmau <br>
				(xè)</h2>
			</div>

			<div class="grid2">
				<h2>from the outside i'm black and white, <br>
					but from the inside i'm colored.</h2>
			</div>

			<div class="grid3">
				<h2>not a graphic designer yet ;)<br>
					I am a student of graphic design at Idep Barcelona, born in Girona but based in Barcelona. With an interest in editorial design, branding, motion graphics and identity; Art, music, photography and design lover. </h2>
			</div>



			<div class="grid4">
				<a href="https://www.instagram.com/equisdexenia/">@equisdexenia</a><br>
				<a href="mailto:xmarques31@gmail.com">xmarques31@gmail.com</a>
				<a href="https://vsco.co/xemarques/gallery">vsco.co/xemarques</a>
			</div>



		</div>

	</div>


	<div class="content">
		
		<div class="foto"><img src="https://lh6.googleusercontent.com/qsYpsBJGPE78dKxVnQAd_R6EZRARZL_FYD3pyuUD6K0UPYwFkMzoog_e9GJEw45eh0UAMSvNJPpT-_3Sbmntrrj9lc4LC-ZHRYSL64FC0JN0pNA2FcdPT_vRe2Jbp7H8Dw=w1280"></div>
		<div class="content-grid">
			<div class="content1">
				<h2>From a book to a Fashion Magazine / </h2>
			</div>

			<div class="content2">
				<h2>From the book 'The language of Fashion' by Roland Barthes I redesigned it and turned it into a magazine / newspaper.
				So I created a series of grids that help me follow an order, a certain composition and a graphic line that is repeated throughout the process. The images used are important characters mentioned in the book. We can find these mentions at the top of each page which are the notes of the book.</h2>
			</div>
		</div>	

		<div class="foto"><img src="https://lh6.googleusercontent.com/vci51SBnMBkpQdb1T5fvSnsHIbIKiy1T2yiE6H818PP8ZtFxIBss82VPKuIJOR8-IQXNZ-cvfCrjzZUfyUe-uywyqNJNwtmrWK73NTnIztzeCiVXs1fghztkyX_t3jmI0g=w1280"></div>
		<div class="content-grid">
			<div class="content1">
				<h2>Trying to copy Carlota Guerrero / </h2>
			</div>

			<div class="content2">
				<h2>A project inspired by Carlota Guerrero, a photographer and artist who was my reference from the first moment that I entered the world of photography.
				The shape of her and the style of photographing, caught my attention, it is different and imperfect, which I like about a photograph.
				For this reason, I decided to photograph eight friends, drawing inspiration from her at all the time.
				I want to dedicate this project to my friends who could not have done it without them. Thanks to Clàudia, Mariona, Aina, Maria, Anna, Nona, Àngela and Huiru.
				</h2>
			</div>
		</div>	

		<div class="foto"><img src="https://lh6.googleusercontent.com/kBucMO0Jt6ZtvT6TKTWI3WwMHJzzkv8BUNFfCltjrhcdbwpiVmxu7faaPkWCvOkx7DdnKXLMeSFpUOGkQldduPrY1QHuUxFtceEvZUyhZXi2o2WfvPt7n2hczuU-kXeF2A=w1280"></div>
		<div class="content-grid">
			<div class="content1">
				<h2>Handmade book about Hands / </h2>
			</div>

			<div class="content2">
				<h2>A project</h2>
			</div>
		</div>	


		<div class="foto"><img src="https://lh3.googleusercontent.com/hUXXZL3bYL5GojV4dFkVkV2SSJUd3KrlGREf1_S90kmwktMIF-fER8tAymbMJz76r_HQbxXyxzNPDCv9Q3rOhvPc2mzXrUZrj1u50tppf04judACZaaAn5p-8y6xQp_Rdg=w1280"></div>
		<div class="content-grid">
			<div class="content1">
				<h2>Illustration Adidas x JJOO Tokyo / </h2>
			</div>

			<div class="content2">
				<h2>A project</h2>
			</div>
		</div>	


		<div class="foto"><img src="https://lh3.googleusercontent.com/1xU3--jcD745WJbaViZCodq-bR9nPLfeAE75N3okytxotgQL_AVRyz-XvCTdWp5VebcJioctnaMpREyxBbWLMmQykgub-VFTuCzF4gDk5z0mYK6rhZI3HBZX5l7Z_6mS6g=w1280"></div>
		<div class="content-grid">
			<div class="content1">
				<h2>Paper project x Johnson's Baby / </h2>
			</div>

			<div class="content2">
				<h2>A project</h2>
			</div>
		</div>	


		<div class="foto"><img src="https://lh6.googleusercontent.com/Pn4YcQdZPddJW5Rug0U9Y3g9FqZxJkRMGcAHDhCCPVhBcCmTihRUjlezxL8gmLTSk79jYGwbNmnNtPYDBMBBy8qY-e_MKpH0jWpfWLrCnzx4qU-tZRN1la9KqwJ27Ew9Mw=w1280"></div>
		<div class="content-grid">
			<div class="content1">
				<h2>Cereal packaging inspired by Queen / </h2>
			</div>

			<div class="content2">
				<h2>A project</h2>
			</div>
		</div>	


		



	</div>	


	<div class="footer">

		<h2>still coloring...</h2>

	</div>
		





	


</div>

