---
layout: layouts/base.njk
title: (xè)
---
<div id="fuente-personalizada">

	<div class="header">

		<div class="grid-container">

			<div class="grid1">
				<h2>xènia marquès dalmau <br>
				(xè)</h2>
			</div>

			<div class="grid2">
				<h2>from the outside i'm black and white, <br>
					but from the inside i'm colored.</h2>
			</div>

			<div class="grid3">
				<h2>not a graphic designer yet ;)<br>
					I am a student of graphic design at Idep Barcelona, born in Girona but based in Barcelona. With an interest in editorial design, branding, motion graphics and identity; Art, music, photography and design lover. </h2>
			</div>



			<div class="grid4">
				<a href="https://www.instagram.com/equisdexenia/">@equisdexenia</a><br>
				<a href="mailto:xmarques31@gmail.com">xmarques31@gmail.com</a>
				<a href="https://vsco.co/xemarques/gallery">vsco.co/xemarques</a>
			</div>



		</div>

	</div>


	<div class="content">
			<div class="foto"><img src="https://www.hola.com/imagenes/estar-bien/20210217184541/gatos-gestos-lenguaje-significado/0-922-380/gatos-gestos-e.jpg"></div>

		<div class="content-grid">
			
			<div class="content1">
				<h2>From a book to a Fashion Magazine / </h2>
			</div>

			<div class="content2">
				<h2>From the book 'The language of Fashion' by Roland Barthes I redesigned it and turned it into a magazine / newspaper.
So I created a series of grids that help me follow an order, a certain composition and a graphic line that is repeated throughout the process. The images used are important characters mentioned in the book. We can find these mentions at the top of each page which are the notes of the book.</h2>
			</div>
		</div>		
	</div>

	</div>	


	<div class="footer">

		<h2>still coloring...</h2>

	</div>
		





	


</div>

